{% extends 'writing/dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}| {% translate "添加写作考试" %}{% endblock title %}

{% block main_content %}
<div class="row mt-2">
    <h2>{% translate "添加写作考试" %}<span class="badge bg-secondary" id="badgeCreateStudent"></span></h2>
    <form id="FormCreateStudent" role="form" method="POST"
                          data-ajax-action="{% url 'writing:create_exam_ajax' %}">
                    {% csrf_token %}
    <div class="mb-3">
        <label for="ExamTitle" class="form-label">{% translate "标题" %}</label>
        <input type="text" class="form-control" id="ExamTitle" name="ExamTitle" required>
    </div>
    <div class="mb-3">
        <label for="ExamTime" class="form-label">{% translate "时长 (分钟)" %}</label>
        <input type="number" class="form-control" id="ExamTime" name="ExamTime" required>
    </div>
    <div class="mb-3">        
        <label for="TextareaExamDiscription" class="form-label">{% translate "题目描述" %}</label>
        <textarea class="form-control" id="TextareaExamDiscription" name="TextareaExamDiscription" rows="15" required></textarea>
        
        <button type="submit" class="btn btn-primary mt-2" id="BtnCreate">{% translate "创建" %}</button>
      
    </div>
  </form>
</div>
{% endblock main_content %}

{% block extra_jsfile %}
<script src="{% static 'writing/dashboard/js/create_exam.js' %}"></script>
{% endblock extra_jsfile %}